{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Set"]
      }
    ],
    "@babel/transform-modules-commonjs"
  ]
}
